node_modules/
private/
csv/
ssl/
sync/
dist/*.mjs.map
release/
import-log.txt
error-log.txt
sync-status.json
tallydb-service.bat
*.zip
*.exe
*.duckdb
bigquery-credentials.json
adls-config.json
